<table style="width:100%">
  <tr>
    <th rowspan="3">
      <div class="card1">
          <img alt="element 06" class="mb-1" src="assets/13.png" width="140px">
      </div>
    </th>

    <td><div class="card">Image2</div></td>  
    <td><div class="card">Image3</div></td>
  </tr>
  <tr>
    <td>{{secondTitle}}</td>
    <td>{{thirdTitle}}</td>
  </tr>
  <tr>
    <td><div class="card">Image4</div></td>
    <td><div class="card">Image5</div></td>
  </tr>
  <tr>
    <td>{{firstTitle}}</td>
    <td>{{fourthTitle}}</td>
    <td>{{fifthTitle}}</td>
  </tr>
</table>