<table class="tableCenter">
    <tr>
      <th rowspan="3">
            <img [src]="url[0]" width="450px">
      </th>
      <td><img [src]="url[1]" width="170px"></td>  
      <td><img [src]="url[2]" width="170px"></td>
    </tr>
    <tr>
      <td>{{secondTitle}}</td>
      <td>{{thirdTitle}}</td>
    </tr>
    <tr>
      <td><img [src]="url[3]" width="170px"></td>
      <td><img [src]="url[4]" width="170px"></td>
    </tr>
    <tr>
      <td>{{firstTitle}}</td>
      <td>{{fourthTitle}}</td>
      <td>{{fifthTitle}}</td>
    </tr>
  </table>